<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1"
>
    <display-name>SeboSystemWeb</display-name>
    
    <!-- JSF -->
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    
    <!-- Java Realm -->
    <login-config>
        <auth-method>FORM</auth-method>
        <realm-name>seboRealm</realm-name>
        <form-login-config>
            <form-login-page>/login</form-login-page>
            <form-error-page>/login?error=true</form-error-page>
        </form-login-config>
    </login-config>
    <!-- Roles -->
    <security-role>
        <description />
        <role-name>reader</role-name>
    </security-role>
    <security-role>
        <description />
        <role-name>moderator</role-name>
    </security-role>
    <security-role>
        <description />
        <role-name>administrator</role-name>
    </security-role>
    <!-- Security Constraints -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>user_data</web-resource-name>
            <url-pattern>/my/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>reader</role-name>
        </auth-constraint>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>