/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
}

/*
 * Global add-ons
 */
.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    font-size: 18pt;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
    display: none;
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    padding: 20px;
    /* Scrollable contents if viewport is shorter than content. */
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
}

.navbar-toggle {
    float: left;
    margin-left: -5px;
    margin-right: 0;
}

.btn-view-group {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1040;
    margin-top: 10px;
    margin-right: 11.5px;
    padding-right: 0;
}

.btn-view-group span.text {
    display: none;
}

.mobile-hide-block,.mobile-hide-inline {
    display: none;
}

.right {
    float: right;
}

.left {
    float: left;
}

.search-box {
    margin-bottom: 15px;
}

/* Display Errors */
ul.alert {
    list-style-type: none;
}

.main.without-menu {
    margin-top: 20px;
}

.table {
    margin-bottom: 0;
}

.table.table-selectable tbody tr {
    cursor: pointer;
}

.table-hover>tbody>tr.selected-row>td {
    background-color: #e9e9e9;
}

@media ( min-width : 768px) {
    .mobile-hide-block {
        display: block;
    }
    .mobile-hide-inline {
        display: inline-block;
    }
    .sidebar {
        display: block;
    }
    .navbar-collapse.collapse {
        display: none !important;
    }
    .sub-header {
        font-size: 24pt;
    }
    .main {
        margin-top: -50px;
    }
    .btn-view-group {
        position: relative;
        margin-top: 0;
        margin-right: 0;
    }
    .btn-view-group span.text {
        display: block;
    }
    .btn-view-group .glyphicon {
        display: none;
    }
}

.thumbnail-principal {
    margin-top: 20px;
}

/* Sidebar navigation */
.nav-sidebar {
    margin-right: -21px; /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar>li>a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar>.active>a,.nav-sidebar>.active>a:hover,.nav-sidebar>.active>a:focus {
    color: #fff;
    background-color: #428bca;
}

@media ( min-width : 768px) {
    .main {
        padding-right: 15px;
        padding-left: 20px;
    }
}

.main .page-header {
    margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */
.placeholders {
    margin-bottom: 30px;
    text-align: center;
}

.placeholders h4 {
    margin-bottom: 0;
}

.placeholder {
    margin-bottom: 20px;
}

.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

.modal-remove .alert {
    margin-top: 0;
    margin-bottom: 0;
}

/* Customized Button Types */
.btn-alert {
    color: #fff;
    background-color: #ebc633;
    border-color: #ebc633;
}

.btn-alert:hover,.btn-alert:focus,.btn-alert:active,.btn-alert.active,.open>.dropdown-toggle.btn-alert {
    color: #fff;
    background-color: #d4b22e;
    border-color: #bfa029;
}